<app-layout>
  <div class="row no-gutters">
      <div class="col">
          <input class="form-control border-secondary border-right-0 rounded-0" type="search" placeholder="Digite sua pesquisa aqui..." id="example-search-input4">
      </div>
      <div class="col-auto">
          <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="button">
              <i class="fa fa-close"></i>
          </button>
      </div>
      <div class="col-auto">
          <button class="btn btn-outline-secondary border-left-0 rounded-0 rounded-right" type="button">
              <i class="fa fa-search"></i>
          </button>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-4 style-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn color">Abrir</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 style-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn color">Abrir</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 style-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn color">Abrir</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 style-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn color">Abrir</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 style-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn color">Abrir</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 style-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn color">Abrir</a>
        </div>
      </div>
    </div>
  </div>
</app-layout>