<app-layout>
  <!-- <form class="md-form">
    <div class="file-field">
      <div class="mb-4">
        <img src="https://mdbootstrap.com/img/Photos/Others/placeholder-avatar.jpg" class="rounded-circle z-depth-1-half avatar-pic"
          alt="example placeholder avatar">
      </div>
      <div class="d-flex justify-content-center">
        <div class="btn btn-mdb-color btn-rounded float-left">
          <span>Add photo</span>
          <input type="file">
        </div>
      </div>
    </div>
  </form> -->

  <div class="file btn btn-lg btn-primary">
      <img src="https://www.4devs.com.br/4devs_gerador_imagem.php?acao=gerar_imagem&txt_largura=1110&txt_altura=200&extensao=png&fundo_r=0.021486178040504456&fundo_g=0.3404541015625&fundo_b=0.32705208796913887&texto_r=1&texto_g=1&texto_b=1&texto=Gerador%20Imagem%20%234Devs&tamanho_fonte=10">
      <input type="file" name="file"/>
  </div>
</app-layout>