<div class="main">
  <div class="container">

<div class="middle">
  <div id="login">
    <form action="home" method="POST">
      <fieldset class="clearfix">
        <p><span class="fa fa-user"></span><input type="text"  Placeholder="Matrícula" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
        <p><span class="fa fa-lock"></span><input type="password"  Placeholder="Senha" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
        <div>
            <span style="width:48%; text-align:left;  display: inline-block;"><a class="small-text" href="#">Esqueci minha senha?</a></span>
            <span style="width:50%; text-align:right;  display: inline-block;"><a href="home"><button type="button" class="btn btn-dark">Me logar</button></a></span>
        </div>
      </fieldset>
      <div class="clearfix"></div>
    </form>
    <div class="clearfix"></div>

    </div> <!-- end login -->
    <div class="logo">LOGO
      <div class="clearfix"></div>
    </div> 
  </div>
</div>