<nav class="navbar navbar-dark fixed-top color mb-5">
  <a class="navbar-brand" href="/home">Angular</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/home">Início</a>
      <a class="nav-item nav-link" href="/matriz-treinamento">Matriz de Treinamento</a>
      <a class="nav-item nav-link" href="/biblioteca">Biblioteca</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Relatórios</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Alunos</a>
          <a class="dropdown-item" href="#">Usuários</a>
          <a class="dropdown-item" href="#">Provas</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="/frequencia">Frequências</a>
      <a class="nav-item nav-link" href="/calendario">Calendário</a>
      <a class="nav-item nav-link" href="/forum">Fórum</a>
      <a class="nav-item nav-link" href="/compartilhar-arquivo">Compartilhar arquivos</a>
      <a class="nav-item nav-link" href="/home">Galeria de Fotos</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" href="/">
        Sair
      </a> -->
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Olá Isaias Santana</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="">Perfil</a>
            <a class="dropdown-item" href="">Configurações</a>
            <a class="dropdown-item" href="/">Sair</a>
          </div>
        </li>
    </div>
  </div>
</nav>