<app-layout>
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Data</th>
          <th scope="col">Hora</th>
          <th scope="col">Evento</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>15/01/2019</td>
          <td>08:00</td>
          <td>Treinamento sobre agulhas</td>
          <td><button type="button" class="btn btn-success">Eu vou</button></td>
        </tr>
        <tr>
          <td>15/01/2019</td>
          <td>08:00</td>
          <td>Treinamento sobre agulhas</td>
          <td><button type="button" class="btn btn-success">Eu vou</button></td>
        </tr><tr>
          <td>15/01/2019</td>
          <td>08:00</td>
          <td>Treinamento sobre agulhas</td>
          <td><button type="button" class="btn btn-success">Eu vou</button></td>
        </tr><tr>
          <td>15/01/2019</td>
          <td>08:00</td>
          <td>Treinamento sobre agulhas</td>
          <td><button type="button" class="btn btn-success">Eu vou</button></td>
        </tr><tr>
          <td>15/01/2019</td>
          <td>08:00</td>
          <td>Treinamento sobre agulhas</td>
          <td><button type="button" class="btn btn-success">Eu vou</button></td>
        </tr><tr>
          <td>15/01/2019</td>
          <td>08:00</td>
          <td>Treinamento sobre agulhas</td>
          <td><button type="button" class="btn btn-success">Eu vou</button></td>
        </tr><tr>
          <td>15/01/2019</td>
          <td>08:00</td>
          <td>Treinamento sobre agulhas</td>
          <td><button type="button" class="btn btn-success">Eu vou</button></td>
        </tr><tr>
          <td>15/01/2019</td>
          <td>08:00</td>
          <td>Treinamento sobre agulhas</td>
          <td><button type="button" class="btn btn-success">Eu vou</button></td>
        </tr>
      </tbody>
    </table>
</app-layout>