<app-layout>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Trilha</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Institucional</td>
        <td><button type="button" class="btn btn-success">Visualizar</button></td>
      </tr>
      <tr>
        <td>Técnica</td>
        <td><button type="button" class="btn btn-success">Visualizar</button></td>
      </tr>
      <tr>
        <td>Comportamental</td>
        <td><button type="button" class="btn btn-success">Visualizar</button></td>
      </tr>
    </tbody>
  </table>  
</app-layout>
